/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
    background: red;
    color: white;
    border: 1px solid red;
  }
  
  .success-snackbar {
    background: green;
    color: white;
    border: 1px solid green;
  }