<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="nameFormGroup">
      <form [formGroup]="nameFormGroup">
        <ng-template matStepLabel>Meeting name</ng-template>
        <mat-form-field>
          <mat-label>Meeting Name</mat-label>
          <input matInput placeholder="Last name, First name" formControlName="name" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="dateFormGroup" [optional]="isOptional">
      <form [formGroup]="dateFormGroup">
        <ng-template matStepLabel>Meeting Date</ng-template>
        <mat-form-field>
          <mat-label>Select meeting date</mat-label>
          <input [readonly]="true" matInput [matDatepicker]="picker"formControlName="dateCreated" placeholder="Meeting date" >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="typeFormGroup" [optional]="isOptional">
      <form [formGroup]="typeFormGroup">
        <ng-template matStepLabel>Meeting type</ng-template>
        <mat-form-field>
          <mat-label>Meeting type</mat-label>
          <mat-select disableRipple (selectionChange)="onMeetingTypeChange($event)" formControlName="meetingTypeId">
            <mat-option *ngFor="let type of meetingTypes" [value]="type.Id">
             {{type.Name}}
           </mat-option>
           </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step >
        <ng-template matStepLabel>Select Meeting you would like to carry over</ng-template>
        <div class="mat-elevation-z8" style="width: 100%;"  [hidden]="isLoading">
          <table mat-table [dataSource]="items" style="width: 100%;">
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description </th>
              <td mat-cell *matCellDef="let element"> {{element.Description}} </td>
            </ng-container>
        
            <ng-container matColumnDef="assigned">
              <th mat-header-cell *matHeaderCellDef> Assigned to </th>
              <td mat-cell *matCellDef="let element"> {{element.PersonAssigned}} </td>
            </ng-container>
            
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef> Status </th>
              <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
            </ng-container>
         
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> <mat-checkbox [id]="element.Id" (change)="onItemChecked($event)"></mat-checkbox> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="onNext()">Next</button>
        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onCreateMeeting()">Create meeting</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
