<h4 mat-dialog-title="" class="mat-dialog-title" id="mat-dialog-title-13">Please select new status</h4>
<div mat-dialog-content="" class="mat-dialog-content">
    <mat-form-field>
        <mat-label>Item status</mat-label>
        <mat-select [(ngModel)]="data.id">
           <mat-option *ngFor="let status of data.statuses" [value]="status.Id">
            {{status.Name}}
          </mat-option> 
        </mat-select>
      </mat-form-field>
</div>
<div mat-dialog-actions="" class="mat-dialog-actions">
    <button mat-button="" class="mat-focus-indicator mat-button mat-button-base" (click)="onNoClick()">
        <span class="mat-button-wrapper">Cancel</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
    <button mat-button="" [mat-dialog-close]="data" cdkfocusinitial=""  class="mat-focus-indicator mat-button mat-button-base"
        type="button"><span class="mat-button-wrapper">Save</span>
        <div matripple="" class="mat-ripple mat-button-ripple"></div>
        <div class="mat-button-focus-overlay"></div>
    </button>
</div>