.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }
  
  .spacer {
    flex: 1;
  }

  .link{
    padding-left: 10px;;
  }

  .meeting-link{
    padding-left: 50px;;
  }

  a{
    text-decoration: none;
    color: #fff;
  }

