<div class="toolbar" role="banner">
  <button mat-icon-button color="white">
    <mat-icon>menu</mat-icon>
  </button>
    <span class="link"><a routerLink="/meeting">Create Meeting</a></span>
    <span class="meeting-link"><a routerLink="/">Meetings</a></span>
      <div class="spacer"></div>
  </div>
