.mat-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .mat-full-width {
    width: 100%;
  }

.form-container{
  margin: auto;
  width: 30%;
}

.btn-container{
  align-content: center;
  margin: auto;
  width: 50px;
  margin-top: 20px;
}