<form #itemForm="ngForm">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
            <mat-label>Due date</mat-label>
            <input matInput [matDatepicker]="picker" [readonly]="true" [(ngModel)]="data.DueDate" required name="dueDate" #name="ngModel">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
       <mat-form-field class="full-width">
         <input matInput placeholder="Person Assigned" [(ngModel)]="data.PersonAssigned" required name="personAssigned"
           #personAssigned="ngModel">
       </mat-form-field>
      </div>
      <div class="col-md-6">
       <mat-form-field class="full-width" >
         <mat-select placeholder="Status" name="package" [(ngModel)]="data.StatusId" #packageId="ngModel" required>
           <mat-option *ngFor="let status of data.Statuses" [value]="status.Id" >
             {{status.Name}}
           </mat-option>
         </mat-select>
       </mat-form-field>
      </div>
     </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="full-width">
          <input matInput placeholder="Description" [(ngModel)]="data.Description" required name="description" #description="ngModel">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-8 col-md-4">
        <div class="pull-right">
          <button mat-raised-button color="primary" [mat-dialog-close]="data"  cdkFocusInitial [disabled]='!itemForm.valid'
            matTooltip="Save" matTooltipPosition="below">Save</button>
            <button mat-raised-button color="primary" mat-dialog-close cdkFocusInitial 
            matTooltipPosition="below">Cancel</button>
        </div>
        
      </div>
    </div>
  </form>


