<div class="header">
  <h4>{{meetingName}} meeting minutes</h4>
</div>
<div class="mat-elevation-z8" [hidden]="isLoading" style="width: 100%;">
  <table mat-table [dataSource]="meetingItems" style="width: 100%;">
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.Description }}</td>
    </ng-container>

    <ng-container matColumnDef="assigned">
      <th mat-header-cell *matHeaderCellDef>Assigned to</th>
      <td mat-cell *matCellDef="let element">{{ element.PersonAssigned }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.Status }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef><span class="link" (click)="openDialog(true)">Add Item</span></th>
      <td mat-cell *matCellDef="let element">
       <span [hidden]="element.IsCarried" [id]="element.Id" class="link" (click)="openStatusDialog(element)">Update status</span>
       <span matTooltip="This will take you to the initial meeting for status update"  [hidden]="!element.IsCarried" [id]="element.Id" class="link" (click)="onGotoMeetings($event)">Update status</span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
<mat-spinner *ngIf="isLoading" style="margin: auto;"></mat-spinner>
