<div class="header">
  <h4>Meeting Listing</h4>
</div>
<div class="mat-elevation-z8" style="width: 100%;" [hidden]="isLoading">
  <table mat-table  [dataSource]="meetings" style="width: 100%;">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Meeting name </th>
      <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type</th>
      <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.DateCreated.substring(0,10)}} </td>
    </ng-container>
 
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"> 
        <a [routerLink]="['details']" [queryParams]="{id: element.Id,name:element.Name}" queryParamsHandling="merge">View</a> 
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<mat-spinner *ngIf="isLoading" style="margin: auto;"></mat-spinner>